* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: rgb(184, 184, 184);
}

.logo {
  text-align: center;
  padding: 100px;
  background-image:url("images/bg-header-desktop.png");
  background-repeat: no-repeat; 
  background-size: cover;
}

.logo_container {
  font-size: 20px;
}

.logo_container-header {
  font-weight: bold;
  color: rgb(75, 75, 75);
  margin-bottom: 10px;
}

.logo_container-paragraph {
  font-size: 18px;
  line-height: 1.5;
}

.btn {
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 100px;
  font-size: 14px;
  margin-top: 50px;
}

.btn-green {
  background-color: #26BBA4;
  box-shadow: 0 10px 20px #26bba555;
  margin-right: 5px;
}

.btn-blue {
  background-color: #267dbb;
  box-shadow: 0 10px 20px #267dbb2e;
}

.section1_head {
  text-align: center;
  margin-bottom: 60px;
  font-size: 20px;
}

.section1_head-header {
  color: rgb(92, 92, 92);
  font-weight: 700;
  margin-bottom: 20px;
}

.section1_head-paragraph {
  font-size: 17px;
  line-height: 1.5;
}

.section_body {
  display: flex;
  align-items: center;
  gap: 80px;
}

.body_img {
  margin-left: -40px;
}

.body_header {
  color: rgb(118, 118, 118);
  font-weight: 700;
  margin-bottom: 15px;
}

.body_paragraph {
  font-size: 17px;
  margin-bottom: 50px;
}

.section2 {
  text-align: center;
  margin-top: 100px;
  width: 90%;
  margin: 0 auto;
}

.section2_container {
  margin-bottom: 40px;
}

.section2_container-paragraph {
  line-height: 1.5;
}

.cont2_paragraph {
  margin-bottom: 60px;
  font-size: 14px;
}

.cont2_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.div_svg {
  margin-bottom: 40px;
}

.cont_item {
  padding: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo_container {
  text-align: center;
}